@font-face {
    font-family: 'PT Sans';
    src: url('../font/PTSans.ttf') format('truetype');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    src: url('../font/PTSansI.ttf') format('truetype');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: bold;
    src: url('../font/PTSansB.ttf') format('truetype');
}
@font-face {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: bold;
    src: url('../font/PTSansBI.ttf') format('truetype');
}