/* animate for h1 + h2 in slider page 1*/
.fadeInDowntit{
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;

    animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

}
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.fadeInDowntext{
    animation-name: fadeInDowntext;
    -webkit-animation-name: fadeInDowntext;

    animation-duration: 2.3s;
    -webkit-animation-duration: 2.3s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

}
@-webkit-keyframes fadeInDowntext {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    50% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }



    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDowntext {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


/* animate for icons in page1 */
.slideLeft:hover,
.slideLeft2:hover,
.slideLeft3:hover{
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;

    animation-duration: 3s;
    -webkit-animation-duration: 3s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes slideLeft {
    0%   {transform: translateX(-20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(-20px); }
}
@-webkit-keyframes slideLeft {
    0%   {transform: translateX(-20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(-20px); }
}

.slideLeft2{
    animation-name: slideLeft2;
    -webkit-animation-name: slideLeft2;

    animation-duration: 2.6s;
    -webkit-animation-duration: 2.6s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes slideLeft2 {
    0%   {transform: translateX(-20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(-20px); }
}
@-webkit-keyframes slideLeft2 {
    0%   {transform: translateX(-20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(-20px); }
}

.slideLeft3{
    animation-name: slideLeft3;
    -webkit-animation-name: slideLeft3;

    animation-duration: 2.6s;
    -webkit-animation-duration: 2.6s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

}

@keyframes slideLeft3 {
    0%   {transform: translateX(20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(20px); }
}
@-webkit-keyframes slideLeft3 {
    0%   {transform: translateX(20px);}
    50%  {transform: translateX(0); }
    100% {transform: translateX(20px); }
}



/* animate for page2 slider */
.fadeInRight{
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;

    animation-duration: 1.2s;
    -webkit-animation-duration: 1.2s;

    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;

}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

