/* = = =  responsive breakpoints = = = */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    /* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1920px) {
    .parallax{
        min-height: 845px;
    }
    .langs {
        margin-right:32%;
    }
    .info_box_page1 {
        right: 25.6%;
    }
    a.conf_logo{
        margin: 34px 0 0 24.8%;
        padding-left: 100px;
    }

    .info_box_2 {
        left: 30.5%;
        bottom: 250px;
    }


}

@media only screen and (max-width : 1680px) {
    .parallax{
        min-height: 845px;
    }
    .langs {
        margin-right:30%;
    }

    .info_box_page1 {
        right: 20.6%;
    }

    a.conf_logo{
        margin: 34px 0 0 22.5%;
        padding-left: 100px;
    }
    .info_box_2 {
        left: 27.7%;
        bottom: 230px;
    }
}

@media only screen and (max-width : 1600px) {
    .parallax{
        min-height: 743px;
    }
    .langs {
        margin-right:32%;
    }

    .info_box_page1 {
        right: 22%;
        height: 660px;
        bottom: 0;
    }
    a.conf_logo{
        margin: 34px 0 0 18.5%;
        padding-left: 100px;
    }
    .info_box_2 {
        left: 26.6%;
        bottom: 160px;
    }
}

@media only screen and (max-width : 1440px) {
    .parallax{
        min-height: 743px;
    }
    .page1 {
        background-size: 400px;
    }

    .info_box_page1 {
        right: 17.5%;
        height: 660px;
        bottom: 0;
    }
    a.conf_logo{
        margin: 34px 0 0 16.5%;
        padding-left: 100px;
    }

    .info_box_2 {
        left: 24%;
        bottom: 160px;
    }
}


@media only screen and (max-width : 1366px) {
    .parallax{
        min-height: 635px;
    }
    .page1 {
        background-size: 400px;
    }
    a.conf_logo {
        margin: 5px 0 0 14.5%;
        height  : 62px;
    }

    a.conf_logo img {
        width: 65px;
        height: auto;
    }
    .langs {
        margin-right:28%;
        margin-top: 26px;
        font-size: 12px;
    }
    .info_box_page1 {
        height: 552px;
        bottom: 0;
        right: 15.4%;
    }

    .info_box_2 {
        left: 23%;
        bottom: 30px ;
    }
    .info_box_2:after {
        height: 580px;
        width: 361px;
    }

    .info_box_2 .slider_img{
        left: 63px;
        top: 61px;
        width: 234px;
        height: auto;
    }
    .info_box_2 .slider_text_box {
        right: -390px;
    }
    .info_box_2 .slide2 label {
        top: 360px;
    }
    .download_box {
        top: 432px;
        right: -390px;
    }

    .info_box_2 label.training  {right: 0;}
    .info_box_2 label.pedometer {right: -39px;}
    .info_box_2 label.food      {right: -78px;}
    .info_box_2 label.pulse     {right: -117px;}
    .info_box_2 label.diary     {right: -156px;}
    .info_box_2 label.playlist  {right: -195px;}
    .info_box_2 label.articles  {right: -234px;}
    .info_box_2 label.ribbon    {right: -273px;}
    .info_box_2 label.users     {right: -312px;}

}

@media only screen and (max-width : 1280px) {
    .parallax{
        min-height: 635px;
    }
    .page1 {
        background-size: 350px;
    }
    a.conf_logo {
        margin: 5px 0 0 11%;
        height  : 62px;
    }
    a.conf_logo span{
        height  : 62px;
    }
    a.conf_logo img {
        width: 65px;
        height: auto;
    }
    .langs {
        margin-right:26%;
        margin-top: 26px;
        font-size: 12px;
    }

    .info_box_page1 {
        height: 552px;
        bottom: 0;
        right: 13%;
    }

    .info_box_2 {
        left: 21%;
        bottom: 30px ;
    }
    .info_box_2:after {
        height: 580px;
        width: 361px;
    }

    .info_box_2 .slider_img{
        left: 63px;
        top: 61px;
        width: 234px;
        height: auto;
    }
    .info_box_2 .slider_text_box {
        right: -390px;
    }
    .info_box_2 .slide2 label {
        top: 360px;
    }
    .download_box {
        top: 432px;
        right: -390px;
    }

    .info_box_2 label.training  {right: 0;}
    .info_box_2 label.pedometer {right: -39px;}
    .info_box_2 label.food      {right: -78px;}
    .info_box_2 label.pulse     {right: -117px;}
    .info_box_2 label.diary     {right: -156px;}
    .info_box_2 label.playlist  {right: -195px;}
    .info_box_2 label.articles  {right: -234px;}
    .info_box_2 label.ribbon    {right: -273px;}
    .info_box_2 label.users     {right: -312px;}
}

@media only screen and (max-width : 1024px) {
    .parallax{
        min-height: 635px;
    }
    .page1 {
        background-size: 350px;
    }
    a.conf_logo {
        height  : 62px;
        margin: 5px 0 0 7%;
    }
    a.conf_logo span{
        height  : 62px;
    }
    a.conf_logo img {
        width: 65px;
        height: auto;
    }
    .langs {
        margin-right:21%;
        margin-top: 26px;
        font-size: 12px;
    }
    .info_box_page1 {
        height: 552px;
        bottom: 0;
        right: 4.3%;
    }

    .info_box_page1 .slider_text_box {
        width: 350px;
        left: -370px;
    }
    .info_box_2 {
        left: 13.5%;
    }
    .info_box_2:after {
        height: 580px;
        width: 361px;
    }

    .info_box_2 .slider_img{
        left: 63px;
        top: 61px;
        width: 234px;
        height: auto;
    }
    .info_box_2 .slider_text_box {
        right: -390px;
    }
    .info_box_2 .slide2 label {
        top: 360px;
    }
    .download_box {
        top: 432px;
        right: -390px;
    }

    .info_box_2 label.training  {right: 0;}
    .info_box_2 label.pedometer {right: -39px;}
    .info_box_2 label.food      {right: -78px;}
    .info_box_2 label.pulse     {right: -117px;}
    .info_box_2 label.diary     {right: -156px;}
    .info_box_2 label.playlist  {right: -195px;}
    .info_box_2 label.articles  {right: -234px;}
    .info_box_2 label.ribbon    {right: -273px;}
    .info_box_2 label.users     {right: -312px;}
}

/* = = = END responsive breakpoints  = = = */