/* ==== CSS reset
 * Bootstrap v3.2.0 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
+
=== reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   +
   normalize.css v3.0.1 | MIT License | git.io/normalize
=== ===*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,
img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,
tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,
figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,
section,summary,time,mark,audio,video {
    margin:0;    padding:0;    border:0;
    font-size:100%;    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,main,nav,section,summary  {display:block}
audio,canvas,progress,video {display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
html,body{
    width:100%; height: 100%;
    text-align:center;position:relative;
    line-height:1; background-color: #FFF; color: #000;
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}
svg:not(:root){overflow:hidden}
button,input,optgroup,select,textarea{margin:0;font:inherit;color:inherit}
button{overflow:visible}
button,html input[type="button"],
input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{
    -webkit-box-sizing:content-box;-moz-box-sizing:content-box;
    box-sizing:content-box;-webkit-appearance:textfield}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
legend{padding:0;border:0}
textarea{overflow:auto}
optgroup{font-weight:700}
div,td{text-align:left;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
td, th{vertical-align:top;}
:focus{outline:0;}
input,select,textarea{display: block;}
a{outline:none;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
abbr[title],abbr[data-original-title]{cursor:help;border-bottom:1px dotted #777}
html{font-size:10px;-webkit-tap-highlight-color:rgba(0,0,0,0)}
input::-webkit-input-placeholder       {transition: color 0.3s ease; color: #3d3d3d}
input::-moz-placeholder                {transition: color 0.3s ease; color: #3d3d3d}
input:-moz-placeholder                 {transition: color 0.3s ease; color: #3d3d3d}
input:-ms-input-placeholder            {transition: color 0.3s ease; color: #3d3d3d}
input:focus::-webkit-input-placeholder {transition: color 0.3s ease; color: transparent}
input:focus::-moz-placeholder          {transition: color 0.3s ease;color: transparent}
input:focus:-moz-placeholder           {transition: color 0.3s ease;color: transparent}
/* ===  === / reset ===  === */

/* === for print === */
@media print{*{color:#000!important;text-shadow:none!important;background:transparent!important;-webkit-box-shadow:none!important;box-shadow:none!important}a,a:visited{text-decoration:underline}a[href]:after{content:" (" attr(href) ")"}abbr[title]:after{content:" (" attr(title) ")"}a[href^="javascript:"]:after,a[href^="#"]:after{content:""}pre,blockquote{border:1px solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100%!important}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}select{background:#fff!important}.navbar{display:none}.table td,.table th{background-color:#fff!important}.btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}.label{border:1px solid #000}.table{border-collapse:collapse!important}.table-bordered th,.table-bordered td{border:1px solid #ddd!important}}
/* === END for print === */

/* === main tipografika === */
html, body{
    font: normal normal 14px "open_sanslight", Arial, sans-serif;
    color:       #080f16;
}
/*h1, h2 {
    white-space: pre;           *//* CSS 2.0 *//*
    white-space: pre-wrap;      *//* CSS 2.1 *//*
    white-space: pre-line;      *//* CSS 3.0 *//*
    white-space: -pre-wrap;     *//* Opera 4-6 *//*
    white-space: -o-pre-wrap;   *//* Opera 7 *//*
    white-space: -moz-pre-wrap; *//* Mozilla *//*
    white-space: -hp-pre-wrap;  *//* HP Printers *//*
    word-wrap: break-word;      *//* IE 5+ *//*
}*/
.info_box_page1 .slide h1,
.info_box_page1 .slide h2{
    font: normal normal 50px "open_sansextrabold", Arial, sans-serif;
    color: #1a2431;
    text-transform: uppercase;
}
.info_box_2 h2 {
    font: normal normal 30px/35px "open_sansregular", Arial, sans-serif;
    color: #131b26;
    text-transform: uppercase;
    width: 260px;
    padding: 96px 0 0;
}
.download_box  h3{
    font: normal normal 22px "open_sanslight", Arial, sans-serif;
    text-transform: uppercase;
    width: 250px;
    padding: 0 0 12px 0;

}
/* === END tipografika === */

/* = = =  structure = = = */
.wrapper{
    width: 100%;
    height: 100%;
    min-width: 960px;
    margin: 0 auto;
    max-width: 2000px;
    z-index: 9;
}

.parallax {
    width: 100%;
    height: 100%;
}
/* = = = END  structure = = = */

/* z-index*/
.page1 {
 z-index: 10;
}
.page2{
 z-index: 110;
}
.intro_box{
 z-index: 110;
}
.page1_simulator{
    z-index: 110;
    background: #fff url("../img/page1_bg.jpg") no-repeat fixed top center;
}
/* /z-index*/


/* = = =  page 1 = = = */
.page1 {
    position: fixed;
    background: url("../img/page1_pattern.png") no-repeat fixed bottom left;
    overflow: hidden;
}
a.conf_logo{
    display: block;
    float: left;
    margin: 34px 0 0 20.258%;
    height  : 82px;
    position: relative;
    color          : #0052A1;
    text-decoration: none;
    text-align: left;
    padding: 20px 0 0 80px;
    font: normal normal 15px/120% "open_sansregular", Arial, sans-serif;
    width: 450px;
}
a.conf_logo img {
    position: absolute;
    top: 0;
    left: 0;
}


.langs {
    display: block;
    float: right;
    margin: 63px 28% 0 0;
}
.langs li {
    display: inline-block;
    margin: 0 17px 0 0;
}
.langs  a{
    color: #0e365b;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}
.langs a:hover,
.langs a:active {
    text-decoration: underline;
}

.langs .active  a {
    color: #facd43;
}


/* slider*/
.info_box_page1 {
    display: inline-block;
    position: fixed;
    bottom: 0;
    width: 540px;
    height: 762px;
    right: 15%;
    z-index: 13;
}

.info_box_page1:after{
    display: block;
    content: "";
    width: 540px;
    height: 762px;
    background: url("../img/page1_phone1.png");
    z-index: 16;
    position: absolute;
    top: 0;
    left:0;
}

.info_box_page1 .slider_img {
    position: absolute;
    left: 101px;
    top: 80px;
    width: 217px;
    height: 383px;
    z-index: 11;
}

.info_box_page1 .slider_text_box {
    width: 407px;
    position: absolute;
    left: -410px;
    top: 110px;
}
.info_box_page1  .slide input,
.info_box_page1  .slide label{
    z-index: 17;
}
.info_box_page1 label{
    display: block;
    position: absolute;
    z-index: 20;
    cursor: pointer;
}
.info_box_page1 .slide:first-child label,
.info_box_page1 input{
    display: none;
}
.info_box_page1 label.training{
    top: -24px;
    left: 50px;
}

.info_box_page1 label.pedometer{
    top: 80px;
    left: 363px;
}

.info_box_page1 label.diary{
    top: 251px;
    left: 400px;
}

.info_box_page1 label.food{
    top: 460px;
    left: 293px;
}

.info_box_page1 label.pulse{
    top: 396px;
    left: -27px;
}

.info_box_page1 label.playlist{
    top: 176px;
    left: 5px;
}
.info_box_page1 > .slide > input + label + img
{
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
.info_box_page1 > .slide > input:checked + label + img
{
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

.info_box_page1  > .slide > input + label + img + .slider_text_box{
    display: none;
}
.info_box_page1  > .slide > input:checked + label + img + .slider_text_box {
    display: block;
}
.info_box_page1 .slide .slider_text_box h1,
.info_box_page1 .slide .slider_text_box h2{
    width: 400px;
    /*overflow: hidden;*/
}
.slider_text {
    padding: 20px 20px 0 0;
    font-size: 16px;
    line-height: 150%;
    display: inline-block;
    position: relative;
}
.slider_text:after{
    display: block;
    width: 41px;
    height: 4px;
    content: "";
    background: #FFCB42;
    position: absolute;
    bottom: -30px;
    left: 0}
/* = = = END  page 1 = = = */


/* = = =  inter = = = */
.intro_box {
    height: 212px;
    width: 100%;
    margin: 0 auto;
/*    overflow: hidden;*/
    background: #FACD43;
    position: relative;
}
.intro_box:before{
    display: block;
    width: 100%;
    height: 19px;
    position: absolute;
    left: 0;
    z-index: 200;
    content: "";
}
.intro_box:before{
    top: -19px;
    background: url("../img/intro_box_shadow_top.png") repeat-x 0 0;
 }


.intro_content {
    width: 960px;
    margin: 0 auto;
    position: relative;
}


.intro_content span {
    display: block;
    height: 49px;
}
.intro_content .intro_text {
    float: left;
    width: 145px;
    text-transform: uppercase;
    font-size: 25px;
    margin-top: 83px;
}
.intro_content .intro_links{
    float: right;
    margin-top: 83px;
}
.intro_content .intro_links span {
    display: inline-block;
    height: auto;
    margin: 0 10px 0 0;
}
.intro_content .intro_links img {
    display:  inline-block;
    margin: 0 10px -17px 0;
    transition: all 0.5s ease;
}


.intro_content .intro_links a:hover img,
.intro_content .intro_links a:active img{
    filter: alpha(Opacity=80);
    opacity: 0.8;
}
/* = = = END  inter = = = */


/* = = =  .page2 = = = */
.page2 {
    position: relative;
  }

.page2:before,
.page2:after{
    display: block;
    content: "";
    z-index: 300;
    position: absolute;
    left: 0;
    width: 100%;
}

.page2:before{
    height: 19px;
    top: 0;
    background: url("../img/intro_box_shadow_bottom.png") repeat-x 0 0;
}

.page2:after{
    height: 9px;
    bottom: 73px;
    background: url("../img/footer_shadow_top.png") repeat-x 0 0;
}


.page_2_bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 115;
    left: 0;
    right: 0;
    background: #FFF url("../img/page2_bg2.jpg") no-repeat center top;
}

/* slider 2*/
.info_box_2 {
    display: inline-block;
    position: absolute;
    bottom: 75px ;
    width: 380px;
    height: 610px;
    left: 15%;
    z-index: 120;
}

.info_box_2:after{
    display: block;
    content: "";
    width: 380px;
    height: 610px;
    background: url("../img/page2_phone2.png") no-repeat 0 0;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 121;
}

.info_box_2 .slider_img {
    position: absolute;
    left: 66px;
    top: 64px;
    width: 246px;
    height: 436px;
    z-index: 11;
}

.info_box_2 .slider_text_box {
    width: 407px;
    position: absolute;
    right: -410px;
    top: 0;
}

.info_box_2 input{
    display: none;
}
.info_box_2 .slide2 label {
    display: block;
    width: 24px;
    height: 24px;
    z-index: 150;
    background: url("../img/page2_spryte_s.png") no-repeat 0 0;
    position: absolute;
    top: 372px;
    cursor: pointer;
}

.info_box_2 label.training {
    right: -28px;
    background-position: 0 0;
}
.info_box_2 label.training:hover,
.info_box_2 label.training:active,
.info_box_2  > .slide2 > input:checked + label.training{
    background-position: -24px -0px;
}
.info_box_2 label.pedometer {
    right: -67px;
    background-position: -48px -0;
}
.info_box_2 label.pedometer:hover,
.info_box_2 label.pedometer:active,
.info_box_2  > .slide2 > input:checked + label.pedometer{
    background-position: -72px -0;
}
.info_box_2 label.food {
    right: -106px;
    background-position: 0 -24px;
}
.info_box_2 label.food:hover,
.info_box_2 label.food:active,
.info_box_2  > .slide2 > input:checked + label.food{
    background-position: -24px -24px;
}
.info_box_2 label.pulse {
    right: -145px;
    background-position: -48px -24px;
}
.info_box_2 label.pulse:hover,
.info_box_2 label.pulse:active,
.info_box_2  > .slide2 > input:checked + label.pulse{
    background-position: -72px -24px;
}

.info_box_2 label.diary {
    right: -184px;
    background-position: -48px -48px;
}
.info_box_2 label.diary:hover,
.info_box_2 label.diary:active,
.info_box_2  > .slide2 > input:checked + label.diary {
    background-position: -72px -48px;
}
.info_box_2 label.playlist {
    right: -223px;
    background-position: 0 -72px;
}
.info_box_2 label.playlist:hover,
.info_box_2 label.playlist:active,
.info_box_2  > .slide2 > input:checked + label.playlist{
    background-position: -24px -72px;
}
.info_box_2 label.articles {
    right: -262px;
    background-position: 0 -48px;
}
.info_box_2 label.articles:hover,
.info_box_2 label.articles:active,
.info_box_2  > .slide2 > input:checked + label.articles{
    background-position:  -24px -48px;
}
.info_box_2 label.ribbon {
    right: -301px;
    background-position: -48px -72px;
}
.info_box_2 label.ribbon:hover,
.info_box_2 label.ribbon:active,
.info_box_2  > .slide2 > input:checked + label.ribbon{
    background-position:  -72px -72px;
}

.info_box_2 label.users {
    right: -340px;
    background-position: 0 -96px;
}
.info_box_2 label.users:hover,
.info_box_2 label.users:active,
.info_box_2  > .slide2 > input:checked + label.users{
    background-position: -24px -96px;
}



.info_box_2 .slide2 .slider_text {
    max-height: 200px;
    overflow: hidden;
    padding: 10px 0 20px 0;
    font: 16px/30px "open_sanslight", Arial, sans-serif;
    color: #666e7d;
}
.info_box_2 .slide2 .slider_text:after {
    display: block;
    width: 41px;
    height: 4px;
    content: "";
    background: #FFCB42;
    position: absolute;
    bottom: 0;
    left: 0;
}

.info_box_2 > .slide2 > input + label + img
{
    opacity: 0;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}
.info_box_2 > .slide2 > input:checked + label + img
{
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

.info_box_2  > .slide2 > input + label + img + .slider_text_box{
    display: none;
}
.info_box_2  > .slide2 > input:checked + label + img + .slider_text_box {
    display: block;
}
.info_box_2  > .slide2 > input:checked + label + img + .slider_text_box > h2:before{
    display: block;
    width: 44px;
    height: 44px;
    background: url("../img/page2_spryte_b.png") 0 0 no-repeat;
    content: "";
    position: absolute;
    top: 20px;
}

.info_box_2  > .slide2 > input:checked + label.training + img + .slider_text_box > h2:before {
    background-position: 0 0;
}

.info_box_2  > .slide2 > input:checked + label.pedometer + img + .slider_text_box > h2:before {
    background-position: -44px 0;
}
.info_box_2  > .slide2 > input:checked + label.food + img + .slider_text_box > h2:before {
    background-position:  -88px 0;
}
.info_box_2  > .slide2 > input:checked + label.pulse + img + .slider_text_box > h2:before {
    background-position: 0 -44px
}
.info_box_2  > .slide2 > input:checked + label.playlist + img + .slider_text_box > h2:before {
    background-position:  0 -88px;
}
.info_box_2  > .slide2 > input:checked + label.articles + img + .slider_text_box > h2:before {
    background-position: -44px -44px;
}
.info_box_2  > .slide2 > input:checked + label.users + img + .slider_text_box > h2:before {
    background-position: -88px -88px;
}
.info_box_2  > .slide2 > input:checked + label.diary + img + .slider_text_box > h2:before {
    background-position: -88px -44px;
}
.info_box_2  > .slide2 > input:checked + label.ribbon + img + .slider_text_box > h2:before {
    background-position: -44px -88px;
}


.download_box {
    width: 400px;
    position: absolute;
    top: 444px;
    right: -410px;
}
.download_box  img {
    margin: 0 4px 0 0;
    transition: all 0.5s ease;
}
.download_box a:hover img,
.download_box a:active img{
    filter: alpha(Opacity=80);
    opacity: 0.8;
}


/* footer */
.footer {
    height: 73px;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #FFF;
    z-index: 120;
}

.footer_content {
    width: 900px;
    margin: 0 auto;
}

.footer_text {
    display: block;
    float: left;
    width: 150px;
    height: 73px;
    text-transform: uppercase;
    font-size: 25px;
    padding: 10px 0 0;
    box-sizing: border-box;
}


.footer_links {
    display: block;
    float: left;
    margin: 0 0 0 30px;
    height: 73px;
    padding: 10px 0 0;
    box-sizing: border-box;
}

.footer_links  img {
    display: inline-block;
    margin:0 30px 0 0;
    transition: all 0.5s ease;
}
.footer_links  a:hover img,
.footer_links  a:active img
{
    filter: alpha(Opacity=80);
    opacity: 0.8;
}


a.knm {
    display: block;
    float: right;
    margin: 15px 0 0 0;
}
a.knm {
    display: block;
    float: right;
    width: 35px;
    height: 45px;
    background: url("../img/knm.png") no-repeat 0 0;
    overflow: hidden;
    text-indent: -100em;
    transition: all 0.5s ease;
}

a.knm:hover,
a.knm:active{
    background: url("../img/knm_h.png") no-repeat 0 0;
}

/* = = = END .page2  = = = */


/*fix for lang vers*/
.kz_vers .intro_text {
    width: 200px;
}

.info_box_page1 .slide h1,
.info_box_page1 .slide h2{
    line-height: 68px;
}