

/* Responsive
-----------------------------------------------------------------------------*/

/*@media (max-width: 1024px) {

}*/

/* Tables */

@media all and (min-width: 720px) and (max-width: 999px){
  #wrapper {
    width: 720px;
  }
#header .container {
  min-height: inherit;
}
.block-federation {
  margin-top: 28px;
}
  .main_template .container {
    padding: 0 10px !important;
    width: inherit;
  }

  #header .title .middle img {
    width: 70px;
  }

  .lang {
    margin: 0 -10px;
  }

  #header .h1 {
    font-size: 16px;
    line-height: 20px;
  }

  .mobile {display: block;  padding: 7px 0;}

  #nav_main {
    position: relative;
  }

  #nav_main ul.js-menu {
    margin: 0 -10px;
    position: absolute;
    top: 44px;
    width: 100%;
    display: none;
    background-color: #0261ae;
    z-index: 999;
  }

  #nav_main ul.js-menu>li {
    display: block;
  }

  #nav_main ul.js-menu>li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
  }

  #nav_main ul.js-menu>li:hover, #nav_main ul.js-menu>li.open {
    background-color: #033b69;
  }
  /*#nav_main ul.menu>li:hover .dropdown-menu {display: none;}*/
  #nav_main ul>li.open .dropdown-menu {display: block;}
  #nav_main .dropdown-menu {position: relative; display: none; width: 100%;}
  #nav_main .dropdown-menu li {display: block; padding: 10px 0;}
  /*#nav_main ul.inline>li:hover .dropdown-menu {display: none;}*/
  
  #nav_main ul.js-menu>li:hover>a {
    font-weight: bold;
  }

  #nav_main ul.js-menu>li a span {
    border-bottom: none;
  }

  .block-federation ul li img {
    width: 45px;
  }

  #nav_main ul {
    margin: 0 -10px;
  }

  .baner-big .baner-img {
    width: 720px;
  }
  .unit-head_news {
    width: 380px;
  }
  .unit-last_news {
    width: 340px;
  }
  .unit-banner {
    width: 340px;
  }
  .interview_section {
    width: 340px;
  }
  .unit-cite {
    width: 320px;
  }
  .bx-slide .figure img {
    width: 120px !important;
    height: 105px !important;
  }
  .unit-media {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .media_section {
    float: none;
  }
  .unit-media-photo, .unit-media-video {
    width: 340px;
    margin-right: 20px;
  }
  .unit-media-video {
    margin-right: 0;
  }
  .unit-media-social {
    float: none;
    margin: 0 auto;
  }
  .social_widget {display: none;}
  .social_widget.hide {
    display: block;
  }
  .social_widget.hide h2 {
    margin-left: 0;
    text-align: center;
  }

  .social_widget.hide ul {
    text-align: center;
  }

  .partner_section {
    width: 47%;
  }
  .partner_section.sp .lSSlideOuter {
    padding-right: 0;
    border-right: none;
  }
  .partner_section.pt {
    width: 50%;
    padding-left: 0;
    float: none;
  }
  #bottom_info .copyright {
  width: 30%;
  line-height: inherit;
  }
  .footer-links {
margin-left: 40px;
  line-height: inherit;
  }

  #nslider .bx-wrapper .bx-viewport {
    height: auto !important;
  }

  #panel_coach .container {
    background-position: 100% 0;
  }

  .row_fluid.clmn_right .aside {
  margin-left: -240px;
  width: 220px;
}

.row_fluid.clmn_right .row_section .section {
  padding: 0 0 0 240px;
}

}

/*
*
  Mobile
*
*/

@media all and (min-width: 320px) and (max-width: 720px) {

  #top .link-menu {
    margin-left: 15px;
  }
  #wrapper {
    width: 420px;
  }

  .main_template .container {
    padding: 0 10px !important;
    width: inherit;
  }

  input[type="search"].input_search {
    width: 0;
    border-bottom: none;
    transition: width 300ms ease;
    position: absolute;
  right: 10px;
  z-index: 123;
  background-color: #fff;
  }

  input[type="search"].input_search:focus {
    width: 250px;
    border-bottom: 1px solid #333;
  }

  #header .title {
    padding: 14px 0 0;
    width: 100%;
  }

  #header .title .middle img {width: 70px;}

  .mobile {display: block;  padding: 7px 0;}

  #nav_main {
    position: relative;
  }

  #nav_main ul.js-menu {
    margin: 0 -10px;
    position: absolute;
    top: 44px;
    width: 100%;
    display: none;
    background-color: #0261ae;
    z-index: 999;
  }

  #nav_main ul.js-menu>li {
    display: block;
  }

  #nav_main ul.js-menu>li a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: normal;
  }

  #nav_main ul.js-menu>li:hover, #nav_main ul.js-menu>li.open {
    background-color: #033b69;
  }

  #nav_main ul>li.open .dropdown-menu {display: block;}
  #nav_main .dropdown-menu {position: relative; display: none; width: 100%;}
  #nav_main .dropdown-menu li {display: block; padding: 10px 0;}
  
  #nav_main ul.js-menu>li:hover>a {
    font-weight: bold;
  }

  #nav_main ul.js-menu>li a span {
    border-bottom: none;
  }

  .lang {
    margin: 0 -10px;
  }

  .wrap-lang span {
    display: block;
    height: 30px;
    color: #0564b1;
    line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  }

  .wrap-lang.open span {
    background: #005396;
    color: #fff;
  }

  .wrap-lang span:hover {
    background-color: #1170bd;
    color: #fff;
    cursor: pointer;
  }

  .wrap-lang {
    position: relative;
    float: left;
    width: 35px;
  }

  .open .block-lang {
    display: block;
  }

  .block-lang {
    position: absolute;
    left: 0;
    width: 35px;
    display: none;
    background: #005396;
  }

  .block-lang li {
    float: none;
    display: block;
  }

  .block-lang li a {
    color: #fff;
  }

  .block-lang li.active {
    display: none;
  }

  .block-federation {
    margin-top: 0;
    margin-right: 55px;
  }

  .block-federation ul {margin: 0;}

  .unit-socialpage, .baner-big {
    display: none;
  }

  .unit-mobilesocial {
    display: block;
    float: left;
    position: absolute;
  top: 50%;
  margin-top: -10px;
  left: 50%;
  transform: translateX(-50%);
  }

  .icon-social {
    width: 21px;
    height: 20px;
    display: inline-block;
    vertical-align: top;
    background: url("../images/icon-social.png") right 0 no-repeat;
    margin-top: 0;
  }
  .icon-social.ingm {background-position: right 0;}
  .icon-social.tw {background-position: right -20px;}
  .icon-social.fb {background-position: right -40px;}
  .icon-social.vk {background-position: right -60px;}

  #header .h1 {
    font-size: 14px;
    line-height: 20px;
  }

  .block-federation ul li img {
    width: 45px;
  }

  .baner-big .baner-img {
    width: 420px;
  }
  .unit-head_news {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .unit-calendar {
    width: 100%;
  }
  .unit-last_news {
    width: 100%;
  }
  .unit-banner {
    width: 100%;
  }
  .interview_section {
    width: 100%;
    margin-left: -10px;
    padding: 10px 10px 30px;
    float: none;
  }
  .unit-cite {
    width: 100%;
  margin-left: -5px;
  float: none;
  }
  .bx-wrapper {
    float: none;
  }
  .bx-slide .figure img {
    width: 120px !important;
    height: 105px !important;
  }
  .unit-media {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .media_section {
    float: none;
  }
  .unit-media-photo, .unit-media-video {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 20px;
  }

  .media_section .figure {
    width: 400px;
  height: 280px;
  }
  .unit-media-video {
    margin-right: 0;
  }
  .unit-media-social {
    float: none;
    margin: 0;
  }

  .row_fluid .aside {
    float: none;
    width: 300px;
    margin-left: 0;
  }

.row_fluid.clmn_right .aside {
  float: none;
  width: 300px;
  margin-left: 0;
}

.row_fluid.clmn_right .row_section .section {
  padding: 0;
  float: none;
  width: 100%; 
}

.row_fluid .row_section .section {
  padding: 0 0 20px 0;
}

.row_fluid .row_section {
  float: none;
}

  .social_widget {display: none;}

  .social_widget.hide {
    display: block;
  }
  .social_widget.hide h2 {
    margin-left: 0;
    text-align: left;
  }

  .social_widget.hide ul {
    text-align: left;
  }

  .partner_section {
    width: 100%;
    border-bottom: 1px solid #e4ddb6;
    float: none;
  }
  .partner_section .lSSlideOuter {
    padding-right: 0;
    border-right: none;
  }
  .partner_section.sp {
    padding-left: 0;
  }
  .partner_section.pt {
    width: 100%;
    padding-left: 0;
    float: none;
    border-bottom: none;
  }
  #bottom_info .copyright {
  width: 100%;
  line-height: inherit;
  display: block;
  float: none;
  margin-bottom: 20px;
  }
  .footer-links {
    display: block;
    width: 100%;
margin-left: 0px;
  line-height: inherit;
  float: none;
  margin-bottom: 20px;
  }
  .footer-links a {
    margin: 0;
  }
  .footer-logo {
    float: none;
    width: 100%;
    display: block;
  }
  #bottom_info .pull-right .logo_knm {
    margin: 0;
  }
  #nslider .bx-wrapper .bx-viewport {
    height: auto !important;
  }
  #nav_footer .column1, #nav_footer .column2, #nav_footer .column3 {
    width: 50%;
  }
  #panel_coach {
    display: none;
  }


}

@media print {
    body {
        background: #fff;
        font-size: 12pt;
    }
    #top,
    #header .lang,
    #nav_main,
    #partner_footer,
    #nav_footer,
    .social_widget,
    .news_slider,
    .link_print,
    .banner {
        display: none;
    }
    #header .title {
        width: 100%;
    }
    a {
        color: #2e4e9c;
    }
    a:link:after, a:visited:after {
        content: "";
    }
}
