
/* Responsive
-----------------------------------------------------------------------------*/
@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1440px) {
    .main_template {
        background: #f7f7f7;
    }
    #wrapper {
        width: 1440px;
        background: #fff;
        margin: 0 auto;
        box-shadow: 0 0 5px #ccc;
    }
    .row_slider .slider_section {
        padding-right: 350px;
    }
    .row_slider .aside {
        padding-top: 0;
    }
    #panel_coach em {
        width: 715px;
    }
    .header_add_program .title_program {
        width: 39%;
    }
}

@media (max-width: 1200px) {
    #top ul li {
        width: 19%;
        vertical-align: middle;
        text-align: center;
    }

    #panel_coach em {
        width: 447px;
    }
    .page_diet .form_create .upload_img {
        float: none;
        margin-left: 0;
    }
}
@media (min-width: 980px) {
    .slider_section_inline .news_slider {
        padding-right: 0;
    }
    .slider_section_inline #myCarousel .span8 {
        width: 45%;
    }
    .slider_section_inline #myCarousel .span4 {
        width: 55%;
    }
}
@media (max-width: 980px) {
    .slider_section_inline #myCarousel .span8,
    .slider_section_inline #myCarousel .span4 {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .slider_section_inline #myCarousel .carousel-nav {
        text-align: center;
        margin-top: 15px;
        height: auto;
        width: auto;
    }
    .slider_section_inline #myCarousel .carousel-nav li {
        display: inline-block;
        width: 8px;
        height: auto;
        margin: 0 5px;
    }
    .slider_section_inline #myCarousel .carousel-nav li a {
        display: block;
        width: 15px;
        height: 15px;
        font-size: 22px;
        background: #fff;
        text-indent: -9999px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    .slider_section_inline #myCarousel .carousel-nav li.active a {
        background: #01732d;
    }
}


@media (max-width: 1000px) {
    .mid_block {
        display: block;
    }
    #header .title {
        width: 80%;
    }
    #header .lang.max_block {
        display: none;
    }
    #header .lang.mid_block {
        position: relative;
        width: auto;
    }
    #header .lang.mid_block li {
        display: block;
        float: right;
    }
    #header .lang.mid_block li .dropdown_menu li  {
        padding: 0 5px;
        float: none;
    }
    #header .lang.mid_block a {
        outline: none;
    }
    #header .lang.mid_block .dropdown_menu {
        display: none;
    }
    #header .lang.mid_block .open .dropdown_menu {
        display: block;
    }
    #header .lang.mid_block .lang_dropdown {
        position: relative;
        width: 35px;
        height: 30px;
        line-height: 30px;
        padding-right: 25px;
        text-align: center;
    }
    #header .lang.mid_block .lang_dropdown .caret {
        position: absolute;
        top: 1px;
        right: -15px;
        border-top: 4px solid #fff;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }
    #header .lang .input_search {
        width: 1px;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        cursor: pointer;
    }
    #header .lang .input_search:focus {
        width: 100px;
        cursor: text;
    }

    #privatecoach_header .privatecoach_tit,
    #privatecoach_header .privatecoach_nav {
        float: none;
    }
    #privatecoach_header .privatecoach_nav {
        padding-top: 15px;
    }
    #privatecoach_header .privatecoach_nav ul li {
        padding-left: 0;
        padding-right: 20px;
    }

    .filter_programm_section .clearfix .filter_search_text {
        width: 100%;
        float: none;
    }
    .filter_programm_section .clearfix .control_filter {
        float: none;
    }
}

@media (max-width: 840px) {
    .program_slider .nav_slider {
        display: none;
    }
}

@media (max-width: 980px) {
    .edit_my_program_section .gray_block .add_data .control_data {
        float: none;
        margin: 20px 0 0 0;
    }


    #panel_coach em {
        display: none;
    }

    .page_diet .form_create .wrap_autocomplit {
        margin-bottom: 10px;
    }
}



@media (max-width: 767px) {
    #header .lang {
        margin: 0 auto;
    }
    #header .logo {
        padding-top: 25px;
    }
    #header .header_section {
        padding-right: 0;
    }
    #nav_footer .column {
        text-align: left;
    }
    #myCarousel .carousel-nav {
        text-align: center;
        margin-top: 15px;
        height: auto;
        width: auto;
    }
    #myCarousel .carousel-nav li {
        display: inline-block;
        width: 8px;
        height: auto;
        margin: 0 5px;
    }
    #myCarousel .carousel-nav li a {
        display: block;
        width: 15px;
        height: 15px;
        font-size: 22px;
        background: #fff;
        text-indent: -9999px;
        overflow: hidden;
        padding: 0;
        margin: 0;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }
    #myCarousel .carousel-nav li.active a {
        background: #01732d;
    }
    #bottom_info {
        text-align: center;
    }
    #bottom_info .pull-right {
        display: block;
        float: none;
        padding-top: 10px;
    }
    #bottom_info .copyright {
        float: none;
        line-height: 18px;
    }
    #bottom_info .pull-right .logo_knm {
        display: block;
        margin: 20px auto 0;
    }
    .aside {
        display: none;
    }
    .row_section .section {
        width: 100%;
        padding-right: 0 !important;
    }
    .event_list .span6 {
        border-bottom: 1px solid #e0e0e0;
    }
    .event_list .span6.hr {
        display: none;
    }

    .teams_section .dl-horizontal dt {
        float: left;
    }
    .error404 .media .e404 {
        float: none;
    }
    .error404 .media .media-body {
        padding: 50px 0;
        border-left: none;
    }
    .error404 .footer {
        background: none;
    }

    .comments_section .add_comment,
    .comments_section h3 {
        float: none;
    }
    .infographic_list .item_media {
        width: 100% !important;
        height: auto;
    }
    .page_program .span6 {
        width: 100%;
        float: none;
    }
    .page_program .span6,
    .page_program .span3 {
        padding-bottom: 30px;
    }
    .page_program .span3 {
        width: 50%;
        float: left;
    }

    .page_diet .form_create .upload_img {
        float: right;
        margin-left: 60px;
    }
    .page_diet .form_create .wrap_autocomplit {
        margin-bottom: 0px;
    }

}

@media (max-width: 979px) and (min-width: 768px) {
    .media .pull-left, .media .pull-right {
        display: block;
        float: none;
        margin-bottom: 10px;
    }

}
@media (max-width: 740px) {
    .program_log .program_log_slider {
        width: 100%;
        float: none;
        clear: both;
        margin-top: 25px;
    }
}
@media (max-width: 979px) {
    #change_yourself_section {
        background: #e4e7e9;
    }
    #change_yourself_section .col-1,
    #change_yourself_section .col-2 {
        width: 49%;
    }
    #change_yourself_section .col-3 {
        width: 100%;
        float: none;
        clear: both;
        padding-top: 20px;
    }
    #change_yourself_section .col-3 .control-group {
        float: left;
        margin-right: 15px;
    }
    #change_yourself_section .col-3 .clear {
        float: left;
        line-height: 30px;
        clear: none;
    }
    #change_yourself_section .col-3 .changeself_nav li {
        float: left;
        margin-right: 20px;
    }

    #nav_footer .column1,
    #nav_footer .column2,
    #nav_footer .column3 {
        width: 33%;
        text-align: left;
    }
    #nav_footer .column4 {
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 685px) {
    #change_yourself_section .col-1,
    #change_yourself_section .col-2 {
        width: 100%;
    }
    .page_diet .form_create .upload_img {
        float: none;
        margin-left: 0;
    }
}
@media (max-width: 575px) {
    #header .title {
        width: 78%;
    }
    .teams_section .teams_list .img-circle img {
        margin-top: 0 !important;
    }
    .profile_user .photo_result .between {
        display: block;
        clear: both;
        padding: 0;
    }
    .gyms_list .star.view {
        position: static;
        float: none;
    }
    .filter_list_section .control_filter {
        float: none;
        clear: both;
    }
}

@media (max-width: 600px) {
    .edit_my_program_section .gray_block .add_data  span {
        display: block;
    }
    .user_subscribe_list li.media {
        float: none;
        width: 100%;
    }
}

@media (max-width: 570px) {
    .main_page .auth {
        left: 0;
        top: 40px;
    }
    #nav_main li {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
    #nav_main .dropdown.open .dropdown-menu {
        position: relative;
        top: auto;
        left: auto;
        float: none;
        width: 200px;
        margin: 8px auto 0;
    }
    #nav_main .dropdown.open .dropdown-menu .dropdown-menu {
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    #myCarousel .title {
        position: relative;
        bottom: auto;
        left: auto;
    }
    .result_list li {
        padding-right: 0;
    }
    .result_list .widget {
        position: static;
        margin-left: 15px;
    }

    .max_block,
    .mid_block {
        display: none;
        visibility: hidden;
    }
    .min_block {
        display: block;
        visibility: visible;
    }

    #top {
        position: relative;
        height: 50px;
        padding: 0;
    }
    #top a {
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    #top .container {
        padding: 0 !important;
    }

    #top .dropdown_block {
        width: 33.33333333%;
        float: left;
    }
    #top .dropdown_block .dropdown-backdrop{
        position: relative;
        display: none;
    }

    #top .dropdown_toggle {
        position: relative;
        display: block;
        height: 50px;
        z-index: 15;
        outline: none;
        color: #fff;
        text-align: center;
        line-height: 45px;
        text-decoration: none;
    }
    #top .dropdown_toggle span {
        height: 48px;
        display: block;
        border: 1px solid #000;
    }
    #top .dropdown_toggle .icon {
        display: block;
        width: 23px;
        height: 22px;
        overflow: hidden;
        text-indent: -9999px;
        background: url("../images/sprite_min.png") 0 0 no-repeat;
    }
    #top .top_menu .dropdown_toggle .icon {
        background-position: 0 0;
        margin: 14px auto 0;
    }
    /*#top .top_menu .dropdown_toggle:hover .icon {
        background-position: 0 -32px;
    }*/
    #top .search_menu .dropdown_toggle .icon {
        background-position: 0 -63px;
        margin: 12px auto 0;
    }
    /*#top .search_menu .dropdown_toggle:hover .icon {
        background-position: 0 -99px;
    }*/

    #top .dropdown_menu {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background: #000;
        z-index: 10;
        border-top: 2px groove #787878;
        padding: 30px 0;
    }
    #top .dropdown_menu li {
        display: block;
        padding: 10px 30px;
        max-width: none;
        width: auto;
        text-align: left;
    }
    #top .dropdown_menu .form-horizontal .input_search {
        width: 70%;
        min-width: 140px;
        margin: 0 15px 15px 0;
    }
    #top .dropdown_menu .form-horizontal .btn {
        padding: 5px 25px;
        margin-bottom: 15px;

    }
    #top .open .dropdown_toggle {
        height: 51px;
        background: #000;
    }
    #top .open .dropdown_toggle span {
        height: 52px;
        background: #000;
        background: -webkit-linear-gradient(top,#393939,#000000 70%,#000000);
        background: -moz-linear-gradient(top,#393939,#000000 70%,#000000);
        background: -o-linear-gradient(top,#393939,#000000 70%,#000000);
        background: linear-gradient(top,#393939,#000000 70%,#000000);
    }
    #top .open .dropdown_menu {
        display: block;
        z-index: 99;
    }
    #top .top_menu .dropdown_toggle,
    #top .search_menu .dropdown_toggle{
        border-left: 2px groove #787878;
    }

    #header .title,
    #header .title .middle,
    #header .title .middle h1 {
        display: block;
        text-align: center;
        width: auto;
        height: auto;
        max-width: none;
    }
    #header .title {
        padding: 25px 0;
        width: 100%;
    }
    #header .container {
        min-height: 100px;
    }
    #header .title .middle a {
        display: inline;
    }

    .link_print .text-right {
        clear: both;
        float: none;
        text-align: left;
        height: 20px;
        padding: 10px 0;
    }
    .link_print .text-right .link_dropdown .dropdown-menu {
        float: none;
        left: 0;
    }
    .teams_section .teams_list .img-circle img {
        margin-top: 0 !important;
    }

    .bottom_info .pull-right,
    .info_page_section .pull-right {
        float: none;
        padding: 5px 0;
    }
}

@media (max-width: 550px) {
    #nav_footer .column1,
    #nav_footer .column3 {
        width: 40%;
        text-align: left;
    }
    #nav_footer .column2,
    #nav_footer .column4 {
        width: 60%;
        text-align: left;
    }
    #changeself_header .changeself_nav ul li {
        padding-bottom: 10px;
    }

    .profile_edit_calc_section .result_calc span {
        width: auto;
    }
    .page_diet .form_create .wrap_autocomplit {
        margin-bottom: 10px;
    }
}
@media (max-width: 512px) {
    .main_page .main_flag_bg {
        background: none;
    }
    .main_page .logo {
        margin-top: 30px;
    }
    #nav_footer .column ul {
        margin-left: 20px;
    }

    .page_program .span3 {
        width: 100%;
        float: none;
    }
    .page_program .cal_program {
        float: none;
    }
    .teams_section .teams_list .img-circle img {
        margin-top: 0 !important;
    }
    #top .dropdown_menu .form-horizontal .input_search {
        width: 60%;
    }
}

@media (max-width: 480px) {
    #header .header_flag {
        background: url("../images/bg_flag_header_min.png") 50% 0 no-repeat;
    }
    .data_result {
        clear: both;
        float: none;
        margin: 0 auto;
    }

}

@media (max-width: 450px) {
    #nav_footer .column1,
    #nav_footer .column2,
    #nav_footer .column3,
    #nav_footer .column4 {
        width: 100%;
        text-align: left;
    }

    #privatecoach_header .privatecoach_nav ul li {
        display: block;
        text-align: center;
    }
}

@media (max-width: 410px){
    #top .dropdown_menu .form-horizontal .input_search {
        width: 90%;
    }
}
@media (max-width: 350px){
    .main_page .widget_social {
        display: none;
    }
}


@media print {
    body {
        background: #fff;
        font-size: 12pt;
    }
    #top,
    #header .lang,
    #nav_main,
    #partner_footer,
    #nav_footer,
    .social_widget,
    .news_slider,
    .link_print,
    .banner {
        display: none;
    }
    #header .title {
        width: 100%;
    }
    a {
        color: #2e4e9c;
    }
    a:link:after, a:visited:after {
        content: "";
    }
}
