#featured{
    /*Вся область слайдера*/
    width:518px;
    padding: 18px 120px 10px 21px;
    position:relative;
    height:534px;
}

#featured ul.tabs{
    position:absolute;
    top:18px;
    left:538px;
}

#featured ul.tabs li{
    font-size:16px;
    color:#666;
    line-height:10px;
    height:75px;
    overflow:hidden;
    width:96px;
    position:relative;
}
#featured ul.tabs li a.title{
    position:absolute;
    z-index:5;
    bottom:7px;
    width:96px;
    text-align:center;
}
#featured ul.tabs li img {
    width:96px;
    height:75px;
    opacity:0.5;
    z-index:3;
}
#featured ul.tabs li.current img, #featured ul.tabs li img:hover {
    opacity:1.0;
}

#featured div.container img {
    height: 420px;
    width: 500px;
    position:absolute;
}
#featured div.container {position:relative; z-index:0;}
#featured div.container.previous {z-index:1;}
#featured div.container.current {z-index:2;}

#featured h2{
    font-size:25px;
    padding:5px 5px 5px 12px; margin:0;
    overflow:hidden;
    line-height:65px;
    text-transform:uppercase;
    height:50px; overflow:hidden;
    position:absolute;
    top:350px;
    text-shadow:1px -1px 0 #000;
    text-align:center;
    letter-spacing:-1px;
    width:475px;
}