@charset "utf-8";
/* bootstrap start */
/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
@media (min-width: 768px) {
  .container {
    width: 735px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 955px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1155px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: 0%;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: 0%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: 0%;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: 0%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: 0%;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: 0%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: 0%;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: 0%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-asterisk:before {
  content: "\2a";
}
.glyphicon-plus:before {
  content: "\2b";
}
.glyphicon-euro:before {
  content: "\20ac";
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-cloud:before {
  content: "\2601";
}
.glyphicon-envelope:before {
  content: "\2709";
}
.glyphicon-pencil:before {
  content: "\270f";
}
.glyphicon-glass:before {
  content: "\e001";
}
.glyphicon-music:before {
  content: "\e002";
}
.glyphicon-search:before {
  content: "\e003";
}
.glyphicon-heart:before {
  content: "\e005";
}
.glyphicon-star:before {
  content: "\e006";
}
.glyphicon-star-empty:before {
  content: "\e007";
}
.glyphicon-user:before {
  content: "\e008";
}
.glyphicon-film:before {
  content: "\e009";
}
.glyphicon-th-large:before {
  content: "\e010";
}
.glyphicon-th:before {
  content: "\e011";
}
.glyphicon-th-list:before {
  content: "\e012";
}
.glyphicon-ok:before {
  content: "\e013";
}
.glyphicon-remove:before {
  content: "\e014";
}
.glyphicon-zoom-in:before {
  content: "\e015";
}
.glyphicon-zoom-out:before {
  content: "\e016";
}
.glyphicon-off:before {
  content: "\e017";
}
.glyphicon-signal:before {
  content: "\e018";
}
.glyphicon-cog:before {
  content: "\e019";
}
.glyphicon-trash:before {
  content: "\e020";
}
.glyphicon-home:before {
  content: "\e021";
}
.glyphicon-file:before {
  content: "\e022";
}
.glyphicon-time:before {
  content: "\e023";
}
.glyphicon-road:before {
  content: "\e024";
}
.glyphicon-download-alt:before {
  content: "\e025";
}
.glyphicon-download:before {
  content: "\e026";
}
.glyphicon-upload:before {
  content: "\e027";
}
.glyphicon-inbox:before {
  content: "\e028";
}
.glyphicon-play-circle:before {
  content: "\e029";
}
.glyphicon-repeat:before {
  content: "\e030";
}
.glyphicon-refresh:before {
  content: "\e031";
}
.glyphicon-list-alt:before {
  content: "\e032";
}
.glyphicon-lock:before {
  content: "\e033";
}
.glyphicon-flag:before {
  content: "\e034";
}
.glyphicon-headphones:before {
  content: "\e035";
}
.glyphicon-volume-off:before {
  content: "\e036";
}
.glyphicon-volume-down:before {
  content: "\e037";
}
.glyphicon-volume-up:before {
  content: "\e038";
}
.glyphicon-qrcode:before {
  content: "\e039";
}
.glyphicon-barcode:before {
  content: "\e040";
}
.glyphicon-tag:before {
  content: "\e041";
}
.glyphicon-tags:before {
  content: "\e042";
}
.glyphicon-book:before {
  content: "\e043";
}
.glyphicon-bookmark:before {
  content: "\e044";
}
.glyphicon-print:before {
  content: "\e045";
}
.glyphicon-camera:before {
  content: "\e046";
}
.glyphicon-font:before {
  content: "\e047";
}
.glyphicon-bold:before {
  content: "\e048";
}
.glyphicon-italic:before {
  content: "\e049";
}
.glyphicon-text-height:before {
  content: "\e050";
}
.glyphicon-text-width:before {
  content: "\e051";
}
.glyphicon-align-left:before {
  content: "\e052";
}
.glyphicon-align-center:before {
  content: "\e053";
}
.glyphicon-align-right:before {
  content: "\e054";
}
.glyphicon-align-justify:before {
  content: "\e055";
}
.glyphicon-list:before {
  content: "\e056";
}
.glyphicon-indent-left:before {
  content: "\e057";
}
.glyphicon-indent-right:before {
  content: "\e058";
}
.glyphicon-facetime-video:before {
  content: "\e059";
}
.glyphicon-picture:before {
  content: "\e060";
}
.glyphicon-map-marker:before {
  content: "\e062";
}
.glyphicon-adjust:before {
  content: "\e063";
}
.glyphicon-tint:before {
  content: "\e064";
}
.glyphicon-edit:before {
  content: "\e065";
}
.glyphicon-share:before {
  content: "\e066";
}
.glyphicon-check:before {
  content: "\e067";
}
.glyphicon-move:before {
  content: "\e068";
}
.glyphicon-step-backward:before {
  content: "\e069";
}
.glyphicon-fast-backward:before {
  content: "\e070";
}
.glyphicon-backward:before {
  content: "\e071";
}
.glyphicon-play:before {
  content: "\e072";
}
.glyphicon-pause:before {
  content: "\e073";
}
.glyphicon-stop:before {
  content: "\e074";
}
.glyphicon-forward:before {
  content: "\e075";
}
.glyphicon-fast-forward:before {
  content: "\e076";
}
.glyphicon-step-forward:before {
  content: "\e077";
}
.glyphicon-eject:before {
  content: "\e078";
}
.glyphicon-chevron-left:before {
  content: "\e079";
}
.glyphicon-chevron-right:before {
  content: "\e080";
}
.glyphicon-plus-sign:before {
  content: "\e081";
}
.glyphicon-minus-sign:before {
  content: "\e082";
}
.glyphicon-remove-sign:before {
  content: "\e083";
}
.glyphicon-ok-sign:before {
  content: "\e084";
}
.glyphicon-question-sign:before {
  content: "\e085";
}
.glyphicon-info-sign:before {
  content: "\e086";
}
.glyphicon-screenshot:before {
  content: "\e087";
}
.glyphicon-remove-circle:before {
  content: "\e088";
}
.glyphicon-ok-circle:before {
  content: "\e089";
}
.glyphicon-ban-circle:before {
  content: "\e090";
}
.glyphicon-arrow-left:before {
  content: "\e091";
}
.glyphicon-arrow-right:before {
  content: "\e092";
}
.glyphicon-arrow-up:before {
  content: "\e093";
}
.glyphicon-arrow-down:before {
  content: "\e094";
}
.glyphicon-share-alt:before {
  content: "\e095";
}
.glyphicon-resize-full:before {
  content: "\e096";
}
.glyphicon-resize-small:before {
  content: "\e097";
}
.glyphicon-exclamation-sign:before {
  content: "\e101";
}
.glyphicon-gift:before {
  content: "\e102";
}
.glyphicon-leaf:before {
  content: "\e103";
}
.glyphicon-fire:before {
  content: "\e104";
}
.glyphicon-eye-open:before {
  content: "\e105";
}
.glyphicon-eye-close:before {
  content: "\e106";
}
.glyphicon-warning-sign:before {
  content: "\e107";
}
.glyphicon-plane:before {
  content: "\e108";
}
.glyphicon-calendar:before {
  content: "\e109";
}
.glyphicon-random:before {
  content: "\e110";
}
.glyphicon-comment:before {
  content: "\e111";
}
.glyphicon-magnet:before {
  content: "\e112";
}
.glyphicon-chevron-up:before {
  content: "\e113";
}
.glyphicon-chevron-down:before {
  content: "\e114";
}
.glyphicon-retweet:before {
  content: "\e115";
}
.glyphicon-shopping-cart:before {
  content: "\e116";
}
.glyphicon-folder-close:before {
  content: "\e117";
}
.glyphicon-folder-open:before {
  content: "\e118";
}
.glyphicon-resize-vertical:before {
  content: "\e119";
}
.glyphicon-resize-horizontal:before {
  content: "\e120";
}
.glyphicon-hdd:before {
  content: "\e121";
}
.glyphicon-bullhorn:before {
  content: "\e122";
}
.glyphicon-bell:before {
  content: "\e123";
}
.glyphicon-certificate:before {
  content: "\e124";
}
.glyphicon-thumbs-up:before {
  content: "\e125";
}
.glyphicon-thumbs-down:before {
  content: "\e126";
}
.glyphicon-hand-right:before {
  content: "\e127";
}
.glyphicon-hand-left:before {
  content: "\e128";
}
.glyphicon-hand-up:before {
  content: "\e129";
}
.glyphicon-hand-down:before {
  content: "\e130";
}
.glyphicon-circle-arrow-right:before {
  content: "\e131";
}
.glyphicon-circle-arrow-left:before {
  content: "\e132";
}
.glyphicon-circle-arrow-up:before {
  content: "\e133";
}
.glyphicon-circle-arrow-down:before {
  content: "\e134";
}
.glyphicon-globe:before {
  content: "\e135";
}
.glyphicon-wrench:before {
  content: "\e136";
}
.glyphicon-tasks:before {
  content: "\e137";
}
.glyphicon-filter:before {
  content: "\e138";
}
.glyphicon-briefcase:before {
  content: "\e139";
}
.glyphicon-fullscreen:before {
  content: "\e140";
}
.glyphicon-dashboard:before {
  content: "\e141";
}
.glyphicon-paperclip:before {
  content: "\e142";
}
.glyphicon-heart-empty:before {
  content: "\e143";
}
.glyphicon-link:before {
  content: "\e144";
}
.glyphicon-phone:before {
  content: "\e145";
}
.glyphicon-pushpin:before {
  content: "\e146";
}
.glyphicon-usd:before {
  content: "\e148";
}
.glyphicon-gbp:before {
  content: "\e149";
}
.glyphicon-sort:before {
  content: "\e150";
}
.glyphicon-sort-by-alphabet:before {
  content: "\e151";
}
.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152";
}
.glyphicon-sort-by-order:before {
  content: "\e153";
}
.glyphicon-sort-by-order-alt:before {
  content: "\e154";
}
.glyphicon-sort-by-attributes:before {
  content: "\e155";
}
.glyphicon-sort-by-attributes-alt:before {
  content: "\e156";
}
.glyphicon-unchecked:before {
  content: "\e157";
}
.glyphicon-expand:before {
  content: "\e158";
}
.glyphicon-collapse-down:before {
  content: "\e159";
}
.glyphicon-collapse-up:before {
  content: "\e160";
}
.glyphicon-log-in:before {
  content: "\e161";
}
.glyphicon-flash:before {
  content: "\e162";
}
.glyphicon-log-out:before {
  content: "\e163";
}
.glyphicon-new-window:before {
  content: "\e164";
}
.glyphicon-record:before {
  content: "\e165";
}
.glyphicon-save:before {
  content: "\e166";
}
.glyphicon-open:before {
  content: "\e167";
}
.glyphicon-saved:before {
  content: "\e168";
}
.glyphicon-import:before {
  content: "\e169";
}
.glyphicon-export:before {
  content: "\e170";
}
.glyphicon-send:before {
  content: "\e171";
}
.glyphicon-floppy-disk:before {
  content: "\e172";
}
.glyphicon-floppy-saved:before {
  content: "\e173";
}
.glyphicon-floppy-remove:before {
  content: "\e174";
}
.glyphicon-floppy-save:before {
  content: "\e175";
}
.glyphicon-floppy-open:before {
  content: "\e176";
}
.glyphicon-credit-card:before {
  content: "\e177";
}
.glyphicon-transfer:before {
  content: "\e178";
}
.glyphicon-cutlery:before {
  content: "\e179";
}
.glyphicon-header:before {
  content: "\e180";
}
.glyphicon-compressed:before {
  content: "\e181";
}
.glyphicon-earphone:before {
  content: "\e182";
}
.glyphicon-phone-alt:before {
  content: "\e183";
}
.glyphicon-tower:before {
  content: "\e184";
}
.glyphicon-stats:before {
  content: "\e185";
}
.glyphicon-sd-video:before {
  content: "\e186";
}
.glyphicon-hd-video:before {
  content: "\e187";
}
.glyphicon-subtitles:before {
  content: "\e188";
}
.glyphicon-sound-stereo:before {
  content: "\e189";
}
.glyphicon-sound-dolby:before {
  content: "\e190";
}
.glyphicon-sound-5-1:before {
  content: "\e191";
}
.glyphicon-sound-6-1:before {
  content: "\e192";
}
.glyphicon-sound-7-1:before {
  content: "\e193";
}
.glyphicon-copyright-mark:before {
  content: "\e194";
}
.glyphicon-registration-mark:before {
  content: "\e195";
}
.glyphicon-cloud-download:before {
  content: "\e197";
}
.glyphicon-cloud-upload:before {
  content: "\e198";
}
.glyphicon-tree-conifer:before {
  content: "\e199";
}
.glyphicon-tree-deciduous:before {
  content: "\e200";
}
/* bootstrap end */
.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  position: relative;
}
.l-prefooter {
  padding-bottom: 146px;
}
.l-footer {
  margin-top: -146px;
  height: 146px;
}
.l-section-wrap {
  position: relative;
  min-width: 960px;
}
.l-section-wrap.crop {
  overflow: hidden;
}
.l-centered,
.l-section {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}
.l-section {
  overflow: hidden;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f5f4f4;
  color: #444444;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.2;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: subpixel-antialiased !important;
}
body a:link {
  color: #56a3d9;
}
body a:visited {
  color: #56a3d9;
}
body a:hover {
  color: #2c5d7f;
}
body a:active {
  color: #56a3d9;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul,
ol {
  list-style: none;
}
.pseudo-icon {
  content: "";
  display: block;
  position: absolute;
}
.is-hidden {
  display: none;
}
.cover-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 1280px) {
  .cover-back {
    width: 1280px;
    left: 50%;
    margin-left: -640px;
  }
}
.row {
  position: relative;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.clear-wrap:before,
.clear-wrap:after {
  content: " ";
  display: table;
}
.clear-wrap:after {
  clear: both;
}
.no-js .no-js-hidden {
  display: none !important;
}
.no-js .no-js-visible {
  display: block !important;
}
.img-response {
  display: block;
  width: 100%;
  height: auto;
}
.img-soft-response {
  display: block;
  max-width: 100%;
  height: auto;
}
.this-hover {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.this:hover .this-hover,
.this.hover .this-hover {
  opacity: 1;
}
.no-opacity .this-hover {
  display: none;
}
.no-opacity .this:hover .this-hover {
  display: block;
}
.trans {
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.std-input {
  display: block;
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 9px;
  border: 1px solid #b5bfc7;
  color: #333333;
  font-family: tahoma, arial, verdana, sans-serif;
  font-size: 18px;
  -webkit-transition: border-color 150ms linear 0ms;
  transition: border-color 150ms linear 0ms;
}
.std-input:active,
.std-input:focus {
  outline: none !important;
  border-color: #8999a6;
}
.std-input::-webkit-input-placeholder {
  color: #b3b3b3;
}
.std-input::-moz-placeholder {
  color: #b3b3b3;
}
.std-input:-moz-placeholder {
  color: #b3b3b3;
}
.std-input:-ms-input-placeholder {
  color: #b3b3b3;
}
.lt-ie9 .std-input {
  padding: 8px 9px 8px;
}
.std-textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 7px 9px;
  border: 1px solid #b5bfc7;
  color: #333333;
  -webkit-transition: border-color 150ms linear 0ms;
  transition: border-color 150ms linear 0ms;
  resize: none;
}
.std-textarea:active,
.std-textarea:focus {
  outline: none !important;
}
.std-textarea::-webkit-input-placeholder {
  color: #b3b3b3;
}
.std-textarea::-moz-placeholder {
  color: #b3b3b3;
}
.std-textarea:-moz-placeholder {
  color: #b3b3b3;
}
.std-textarea:-ms-input-placeholder {
  color: #b3b3b3;
}
.std-sub {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  padding-bottom: 4px;
  border: none;
  outline: none !important;
  outline: 1px solid white;
  outline-offset: -2px;
  color: #333333;
}
.std-sub:active,
.std-sub:focus {
  outline: none !important;
}
.typo-main {
  font-size: 16px;
  line-height: 1.5;
}
.typo-main h1,
.typo-main h2,
.typo-main h3 {
  font-weight: 700;
  line-height: 1;
}
.typo-main h1:first-child,
.typo-main h2:first-child,
.typo-main h3:first-child {
  margin-top: 0;
}
.typo-main h1 {
  margin-bottom: 24px;
  font-size: 33px;
}
.typo-main h2 {
  margin-bottom: 13px;
  margin-top: 33px;
  font-size: 28px;
}
.typo-main h3 {
  margin-bottom: 12px;
  margin-top: 43px;
  font-size: 24px;
}
.typo-main p {
  margin-bottom: 24px;
}
.typo-main a {
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.typo-main a:link {
  color: #65b94d;
}
.typo-main a:visited {
  color: #65b94d;
}
.typo-main a:hover {
  color: #444444;
}
.typo-main a:active {
  color: #65b94d;
}
.header-wrap {
  background-color: #fff;
}
.header {
  height: 117px;
}
.header-back {
  position: absolute;
  top: 0;
}
.header-back.left {
  left: 0;
  width: 319px;
  height: 117px;
  background: url("../images/rio2016/header-back-left.png") no-repeat 0 0;
}
.header-back.right {
  right: 0;
  width: 360px;
  height: 117px;
  background: url("../images/rio2016/header-back-right.png") no-repeat 0 0;
}
.logo {
  display: block;
  position: absolute;
  left: 140px;
  top: 22px;
}
.logo-rio {
  display: block;
  position: absolute;
  right: 203px;
  top: 18px;
}
.timer-section {
  height: 95px;
  padding-top: 10px;
}
.timer-caption {
  float: right;
  font-size: 33px;
  font-style: italic;
  font-weight: 700;
}
.timer-caption .dark-text {
  color: #005aa9;
}
.timer-caption .light-text {
  color: #0090d7;
}
.main-col-left {
  float: left;
  width: 62.7%;
}
.main-col-right {
  float: left;
  width: 37.3%;
  padding-left: 34px;
}
.slider-back-wrap {
  position: absolute;
  left: 0;
  right: 50%;
  top: 0;
  height: 100%;
}
.slider-back-inner {
  position: absolute;
  left: 0;
  top: 0;
  right: -121px;
  height: 100%;
  background: url("../images/rio2016/slider-back.jpg") no-repeat 0 0;
  background-size: cover;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .slider-back-inner {
    right: -122px;
  }
}
.slider1 {
  width: 602px;
}
.slider1 .owl-item img {
  display: block;
  width: 100%;
}
.slider1 .owl-controls {
  position: relative;
  width: 100%;
}
.slider1 .owl-nav {
  width: 100%;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
}
.slider1 .owl-prev,
.slider1 .owl-next {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 25px;
  margin-left: 16px;
  background-image: url("../images/rio2016/sprite.png");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.slider1 .owl-prev:hover,
.slider1 .owl-next:hover {
  opacity: 1;
}
.slider1 .owl-prev {
  background-position: 0 0;
}
.slider1 .owl-next {
  background-position: -17px 0;
}
.calendar-col {
  color: #005aa9;
  margin-top: -8px;
}
.calendar-head {
  font-size: 26px;
  margin-bottom: 15px;
  font-weight: 700;
}
.calendar-item {
  border-bottom: 1px solid #c3c4c5;
  padding-bottom: 11px;
  margin-bottom: 10px;
}
.calendar-item:before,
.calendar-item:after {
  content: " ";
  display: table;
}
.calendar-item:after {
  clear: both;
}
.calendar-item:last-child {
  margin-bottom: 0;
}
.calendar-left {
  float: left;
  width: 33.44%;
}
.calendar-right {
  float: left;
  width: 66.56%;
  font-size: 15px;
}
.c-date {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}
.c-month {
  font-size: 16px;
  line-height: 1;
}
.c-item-head {
  font-style: italic;
}
.c-item-caption {
  color: #6d6e70;
  margin-bottom: 1px;
}
.c-item-caption:link {
  color: #6d6e70;
}
.c-item-caption:visited {
  color: #6d6e70;
}
.c-item-caption:hover {
  color: #005aa9;
}
.c-item-caption:active {
  color: #6d6e70;
}
.news-section {
  padding: 26px 0 38px;
}
.news-col {
  padding-left: 7px;
}
.news-wrap {
  border-top: 1px solid #c3c4c5;
}
.news-item {
  padding: 8px 0;
  border-bottom: 1px solid #c3c4c5;
}
.news-item:before,
.news-item:after {
  content: " ";
  display: table;
}
.news-item:after {
  clear: both;
}
.news-date {
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
  color: #6d6e70;
}
.news-head-wrap {
  margin-bottom: 12px;
}
.news-head {
  font-size: 22px;
  font-weight: 700;
  color: #65b94d;
}
.news-head:link {
  color: #65b94d;
}
.news-head:visited {
  color: #65b94d;
}
.news-head:hover {
  color: #85c772;
}
.news-head:active {
  color: #65b94d;
}
.news-img {
  display: block;
  float: right;
  margin-left: 15px;
  width: 118px;
  height: auto;
}
.slider2-col {
  padding-top: 22px;
}
.slider2-wrap {
  width: 66.8%;
  margin: 0 auto 10px;
}
.slider2 .owl-item img {
  display: block;
  width: 100%;
  height: auto;
}
.slider2 .item {
  padding: 0 1px;
}
.slider2 .owl-prev,
.slider2 .owl-next {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 25px;
  top: 50%;
  margin-top: -13px;
  background-image: url("../images/rio2016/sprite.png");
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.slider2 .owl-prev:hover,
.slider2 .owl-next:hover {
  opacity: 1;
}
.slider2 .owl-prev {
  background-position: -34px 0;
  left: -26px;
}
.slider2 .owl-next {
  background-position: -51px 0;
  right: -26px;
}
.slider2-texts {
  padding: 0 27px;
}
.slider2-quote {
  margin-bottom: 7px;
  font-size: 20px;
  line-height: 22px;
  font-style: italic;
  color: #01abe4;
  text-align: center;
}
.slider2-name {
  font-size: 16px;
  color: #6d6e70;
  text-align: center;
}
.sport-section-wrap {
  background: url("../images/rio2016/sport-section-back.jpg") no-repeat 0 0;
  background-size: cover;
}
.sport-section {
  height: 386px;
  padding-top: 119px;
}
.sport-logos-wrap {
  text-align: justify;
}
.sport-logos-wrap:after {
  height: 0px;
  width: 100%;
  content: "";
  display: inline-block;
}
.sport-logo {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 180px;
  padding-top: 144px;
  text-align: center;
  font-size: 14px;
  color: #fff;
}
.sport-logo:hover .sport-img-hover-wrap {
  opacity: 1;
}
.sport-logo:hover .sport-name {
  display: none;
}
.sport-logo:hover .sport-nav {
  display: block;
}
.sport-img-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.sport-img {
  display: block;
  margin: 0 auto 20px;
}
.sport-img-hover-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.no-opacity .sport-img-hover-wrap {
  display: none;
}
.no-opacity .sport-logo:hover .sport-img-hover-wrap {
  display: block;
}
.sport-img-hover {
  display: block;
  margin: 0 auto 20px;
}
.sport-name {
  text-transform: uppercase;
}
.sport-nav {
  display: none;
  font-size: 16px;
}
.sport-nav li {
  margin-bottom: 2px;
}
.sport-nav a:link {
  color: #ffffff;
}
.sport-nav a:visited {
  color: #ffffff;
}
.sport-nav a:hover {
  color: #8ccfee;
}
.sport-nav a:active {
  color: #ffffff;
}
.footer-section-wrap {
  background-color: #fff;
}
.footer-section {
  height: 180px;
  padding-top: 36px;
}
.footer-head {
  text-align: center;
  font-size: 18px;
  color: #bbbdbf;
  font-style: italic;
  margin-bottom: 8px;
}
.sponsor-logos {
  text-align: center;
}
.sponsor-logo {
  display: inline-block;
  margin: 0 17px;
}
.timer {
  float: left;
  margin-top: 23px;
}
.timer-text {
  font-size: 14px;
  text-transform: uppercase;
  float: left;
  width: 160px;
  margin-top: 13px;
  margin-left: 7px;
  color: #00adee;
}
.countdown-row {
  float: left;
}
.countdown-row:before,
.countdown-row:after {
  content: " ";
  display: table;
}
.countdown-row:after {
  clear: both;
}
.countdown-section {
  display: block;
  position: relative;
  float: left;
  padding: 2px 8px 2px 9px;
  border-right: 1px solid #00adee;
  color: #00adee;
}
.countdown-section:last-child {
  border: none;
}
.countdown-section:first-child {
  padding-left: 0;
}
.countdown-amount {
  display: block;
  line-height: 1;
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}
.countdown-period {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  top: -14px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}
.main-inner-section {
  padding-bottom: 50px;
}
.breadcrumbs {
  margin-bottom: 9px;
  font-size: 14px;
  font-style: italic;
  color: #6d6e70;
}
.breadcrumbs a {
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.breadcrumbs a:link {
  color: #65b94d;
}
.breadcrumbs a:visited {
  color: #65b94d;
}
.breadcrumbs a:hover {
  color: #6d6e70;
}
.breadcrumbs a:active {
  color: #65b94d;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs li:after {
  display: inline-block;
  content: "/";
  margin: 0 7px 0 11px;
}
.breadcrumbs li:last-child:after {
  display: none;
}
.content-img-wrap {
  margin: 20px 0 24px;
}
.content-img-wrap img {
  display: block;
  max-width: 100%;
  height: auto;
}
.share-wrap {
  margin-top: 32px;
  margin-bottom: 21px;
}
.share-btn {
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 5px;
  margin-top: 2px;
  background-image: url("../images/rio2016/sprite.png");
  background-repeat: no-repeat;
  opacity: 1;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.share-btn:hover {
  opacity: 0.8;
}
.share-btn.main {
  width: 125px;
  height: 19px;
  margin-top: 0px;
  background-position: 0 -27px;
}
.share-btn.main:hover {
  opacity: 1;
}
.share-btn.vk {
  background-position: -130px -29px;
}
.share-btn.fb {
  background-position: -151px -29px;
}
.share-btn.tw {
  background-position: -172px -29px;
}
.share-btn.od {
  background-position: -193px -29px;
}
.share-btn.ma {
  background-position: -214px -29px;
}
.share-btn.go {
  background-position: -235px -29px;
}
.share-btn.ka {
  background-position: -256px -29px;
}
.news-comments-wrap {
  padding-top: 21px;
  border-top: 1px solid #c3c4c5;
  line-height: 1.4;
}
.nc-head {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.nc-form {
  margin-bottom: 32px;
}
.nc-textarea {
  height: 101px;
  font-style: italic;
  border-color: #c3c4c5;
  margin-bottom: 13px;
}
.nc-textarea:active,
.nc-textarea:focus {
  border-color: #a9abac;
}
.nc-submit {
  height: 37px;
  width: 111px;
  background-color: #65b94d;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  color: #fff;
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.nc-submit:hover {
  background-color: #75c05f;
}
.nc-submit:active {
  background-color: #5aaa43;
}
.nc-item {
  margin-bottom: 30px;
}
.nc-item .nc-item {
  margin-left: 50px;
}
.nc-item .nc-name-wrap {
  margin-bottom: 3px;
}
.nc-name-wrap {
  margin-bottom: 10px;
}
.nc-name {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;
}
.nc-date {
  display: inline-block;
  font-style: italic;
  color: #6d6e70;
  font-size: 14px;
}
.nc-text {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 2px;
}
.nc-answer {
  display: inline-block;
  margin-bottom: 16px;
  font-size: 14px;
  font-style: italic;
  color: #65b94d;
}
.nc-answer:link {
  color: #65b94d;
}
.nc-answer:visited {
  color: #65b94d;
}
.nc-answer:hover {
  color: #444444;
}
.nc-answer:active {
  color: #65b94d;
}
.nc-answer:hover {
  color: #444444;
}
.person-item {
  margin-bottom: 26px;
}
.person-item:before,
.person-item:after {
  content: " ";
  display: table;
}
.person-item:after {
  clear: both;
}
.person-photo {
  float: left;
  width: 23.4%;
}
.person-info {
  float: left;
  width: 76.6%;
  margin-top: -10px;
  padding-left: 20px;
}
.person-name {
  font-size: 20px;
  font-weight: 700;
  color: #65b94d;
}
.person-descr {
  font-size: 16px;
  font-style: italic;
}
.calendar-page-item {
  padding-top: 18px;
  padding-bottom: 14px;
  border-bottom: 1px solid #c3c4c5;
}
.calendar-page-item:before,
.calendar-page-item:after {
  content: " ";
  display: table;
}
.calendar-page-item:after {
  clear: both;
}
.cp-col1 {
  float: left;
  width: 23.2%;
  color: #005aa9;
}
.cp-date {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
}
.cp-time {
  font-size: 16px;
}
.cp-col2 {
  float: left;
  width: 37%;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}
.cp-col3 {
  float: left;
  width: 39.8%;
  font-size: 16px;
  line-height: 22px;
}
.category-triggers {
  margin-bottom: 36px;
  font-weight: 700;
}
.category-triggers li {
  display: inline-block;
  margin-right: 5px;
}
.category-triggers li.active a {
  background-color: #65b94d;
}
.category-triggers li.active a:link {
  color: #ffffff;
}
.category-triggers li.active a:visited {
  color: #ffffff;
}
.category-triggers li.active a:hover {
  color: #ffffff;
}
.category-triggers li.active a:active {
  color: #ffffff;
}
.category-triggers a {
  display: block;
  padding: 1px 9px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.category-triggers a:link {
  color: #65b94d;
}
.category-triggers a:visited {
  color: #65b94d;
}
.category-triggers a:hover {
  color: #65b94d;
}
.category-triggers a:active {
  color: #65b94d;
}
.olimpians-person {
  display: inline-block;
  vertical-align: top;
  width: 49%;
  margin-bottom: 36px;
}
.op-photo {
  width: 64%;
  margin-bottom: 10px;
}
.op-name {
  font-weight: 700;
  margin-bottom: 8px;
}
.op-name a {
  -webkit-transition: all 150ms linear 0ms;
  transition: all 150ms linear 0ms;
}
.op-name a:link {
  color: #65b94d;
}
.op-name a:visited {
  color: #65b94d;
}
.op-name a:hover {
  color: #444444;
}
.op-name a:active {
  color: #65b94d;
}
.op-info {
  margin-bottom: 3px;
  font-size: 14px;
}
.op-info:before,
.op-info:after {
  content: " ";
  display: table;
}
.op-info:after {
  clear: both;
}
.op-info .op-info-left {
  float: left;
  width: 43.3%;
  padding-right: 10px;
  color: #6d6e70;
}
.op-info .op-info-right {
  float: left;
  width: 56.7%;
}
.olimpians-view-photo {
  float: left;
  width: 31.6%;
}
.olimpians-view-info {
  float: left;
  width: 68.4%;
  padding-left: 30px;
  margin-top: -5px;
}
.olimpian-params-wrap {
  margin-bottom: 25px;
}
.olimpian-param {
  font-size: 16px;
}
.olimpian-param:before,
.olimpian-param:after {
  content: " ";
  display: table;
}
.olimpian-param:after {
  clear: both;
}
.olimpian-param .olimpian-param-left {
  float: left;
  width: 38.15%;
  padding-right: 10px;
  color: #6d6e70;
}
.olimpian-param .olimpian-param-right {
  float: left;
  width: 61.85%;
}
h3.olimpian-info-head {
  margin-top: 20px;
  margin-bottom: 8px;
}
.olimpian-info-text {
  margin-top: 8px;
  margin-bottom: 30px;
}
.olimpian-info-img {
  margin-top: 20px;
  margin-bottom: 30px;
}
.rio-event-table-wrap {
  margin: 0 -4px;
}
.rio-event-table {
  width: 100%;
  margin-bottom: 14px;
  font-size: 16px;
}
.rio-event-table th,
.rio-event-table td {
  padding: 5px 5px 6px;
  border: 4px solid #f5f4f4;
  vertical-align: top;
  text-align: left;
}
.rio-event-table th[colspan],
.rio-event-table td[colspan] {
  font-weight: 700;
  padding: 7px 5px 8px;
}
.rio-event-table th {
  background-color: #ED7423;
  color: #fff;
  font-weight: 700;
}
.rio-event-table td {
  background-color: #C7EAFB;
  color: #1E86C8;
}
.rio-event-table td:first-child {
  background-color: #1E86C8;
  color: #fff;
}
.rio-event-table.high td:first-child {
  background-color: #C7EAFB;
  color: #1E86C8;
}
.rio-event-table.high td[rowspan]:first-child {
  vertical-align: middle;
  background-color: #1E86C8;
  color: #fff;
}
body {
  overflow: hidden;
}
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url("../images/rio2016/status.gif");
  /* path to your loading animation */
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
